@media(max-width: 1500px){
    .header__profile-block{
        margin-left: auto;
        margin-right: auto;
    }

    .user-stat__caption svg{
        min-width: 40px;
    }

    .user-content .header-xs{
        flex-wrap: wrap;
    }

    .user-stat{
        padding: 15px;
    }

    .crypties-block{
        flex-wrap: wrap;
    }

    .user-menu{
        min-width: 250px;
    }

    .user-menu__top{
        padding-left: 15px;
    }

    .user-link span{
        font-size: 15px;
    }

    .user-menu__profile-block{
        padding-left: 15px;
        padding-right: 15px;
    }

    .user-link{
        padding: 15px 15px;
    }

    .user-page__tariff-slider{
        max-width: calc(100vw - 300px);
        overflow: hidden;
    }
    
}

@media(max-width: 1200px){

    .user-page__tariff-slider{
        max-width: 100%;
        overflow: visible;
        margin-bottom: 40px;
    }

    .tariff-slider__triple-rail{
        margin-bottom: 20px;
    }

    .header__profile-block{
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .user-form__input-block{
        margin-bottom: 20px;
    }

    .hamburger {
        padding: 0;
        
    }

    .hamburger > span{
        display: flex;
    }

    .header__logo{
        margin-right: 0;
    }

    .header-xs{
        position: fixed;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
        top: 60px;
        background-color: #fff;
        padding: 30px 15px 30px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: .3s;
        transform: translateX(100%);
    }

    .header-xs_active{
        transform: translateX(0);
    }

    .header-menu {
        flex-direction: column;
    }

    .header__header-menu{
        margin-right: 0;
        margin-bottom: auto;
        width: 100%;
    }

    .header__sign-in{
        margin-right: auto;
        margin-top: auto;
    }

    .header__sign-up{
        margin-top: auto;
    }

    .header-menu li:not(:last-child){
        margin-right: 0;
        margin-bottom: 15px;
    }

    .header{
        padding: 10px 0;
        /* height: 60px; */
        position: relative;
        z-index: 10;
    }

    .button{
        font-size: 16px;
        
    }

    .caption_size_h1{
        font-size: 22px;
        line-height: 1.2;
    }

    .caption_size_h2{
        font-size: 20px;
        line-height: 1.2;
    }

    .caption_size_h3{
        font-size: 18px;
        line-height: 1.2;
    }

    .text_size_big{
        font-size: 16px;
        line-height: 1.2;
    }

    .text_size_small{
        font-size: 14px;
        line-height: 1.2;
    }

    .main-banner{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .how-works{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .how-works-content{
        display: flex;
        flex-direction: column;
    }

    .how-works-content__double-line{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        /* order: 2; */
    }

    .how-works-content__triple-line{
        flex-direction: column;
        align-items: center;
        /* order: 1; */
    }

    .how-works-main__text{
        font-size: 14px;
        line-height: 1.2;
    }

    .how-works-main{
        order: 1;
    }

    .how-works-item{
        order: 2;
    }

    .how-works-main__green-arrow,
    .how-works-main__dark-arrow{
        display: none;
    }

    .how-works-content__triple-line_margined{
        margin-bottom: 0;
    }

    .how-works-content > div:nth-child(1){
        order: 2;
    }
    .how-works-content > div:nth-child(2){
        order: 1;
    }
    .how-works-content > div:nth-child(3){
        order: 3;
    }
    .how-works-content > div:nth-child(4){
        order: 4;
    }

    .how-works-main{
        margin-bottom: 20px;
    }

    .how-works-item{
        margin: 0;
        margin-bottom: 20px;
    }

    .stats-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .stat-item__value{
        font-size: 56px;
    }

    .stat-item__stat-name{
        font-size: 22px;
    }

    .steps-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .steps-section__caption{
        margin-bottom: 40px;
    }

    .steps-item__icon{
        margin-bottom: 20px;
    }

    .steps-item{
        margin-bottom: 40px;
    }

    .tariff-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .tariff-section__caption{
        margin-bottom: 40px;
    }

    .tariff-item{
        padding: 20px;
        margin-bottom: 40px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .tariff-item__caption{
        font-size: 22px;
        line-height: 1.2;
    }

    .tariff-item__value{
        margin-bottom: 20px;
        font-size: 18px;
    }

    .tariff-section__tarriffs{
        margin-bottom: 40px;
    }
    
    .profit-block__caption{
        margin-bottom: 40px;
    }

    .profit-item__name{
        font-size: 20px;
        line-height: 35px;
    }

    .profit-item__values{
        max-width: 100%;
    }

    .profit-item__value{
        max-width: 100%;
        font-size: 18px;
    }

    .profit-item{
        flex-direction: column;
    }

    .profit-item::after{
        top: 70px;
    }

    .calculator-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .calculator-wrapper{
        flex-direction: column;
        padding: 15px;
    }

    .calculator-wrapper__descirption{
        margin-bottom: 20px;
    }

    .calculator-wrapper__info{
        margin-right: 0;
        margin-bottom: 40px;
    }

    .calculator__inputs{
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    .calculator__inputs::after{
        top: 150px;
    }

    .calculator__tariffs{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .calculator__tariffs li{
        margin-bottom: 10px;
        margin-right: 16px;
    }

    .calculator__tariff{
        font-size: 14px;
        height: 42px;
    }

    .calculator__tariffs{
        margin-bottom: 40px;
    }

    .calculator-output{
        flex-wrap: wrap;
    }

    .calculator-output__item:not(:last-child){
        margin-right: 16px;
        margin-bottom: 16px;
    }

    .calculator-output__item p{
        font-size: 16px;
        line-height: 1;
        margin-bottom: 0;
    }

    .referal-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .referal-program{
        flex-direction: column;
    }

    .referal-program__first-row{
        justify-content: flex-start;
    }

    .referal-program__caption{
        margin-right: 16px;
    }

    .referal-program__pic{
        min-width: 0;
    }

    .referal-program__value{
        font-size: 48px;
        line-height: 1.2;
    }

    .referal-program__text{
        margin-right: 16px;
    }

    .referal-program__second-row{
        margin-bottom: 40px;
    }

    .benefits-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .benefits-section__caption{
        margin-bottom: 40px;
    }

    .benefit-item{
        margin-bottom: 40px;
    }

    .documents-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .documents-section__caption{
        margin-bottom: 20px;
    }

    .documents-slider__doc-caption{
        font-size: 16px;
        text-align: center;
    }

    .documents-section__documents-slider{
        margin-bottom: 60px;
    }

    .crypties-block{
        flex-wrap: wrap;
        padding: 40px 0;
        /* justify-content: flex-start; */
    }

    .crypties-block img{
        margin-right: 16px;
        max-width: 120px;
        margin-bottom: 16px;
    }

    .footer__top{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 40px;
    }

    .footer{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer__logo{
        margin-bottom: 20px;
    }

    .footer-links{
        margin-bottom: 40px;
    }

    .footer-links_to-right{
        width: 100%;
    }
    
    /* faq page */

    .faq-item{
        padding: 15px;
    }

    .faq-item__caption span{
        font-size: 16px;
    }

    .faq-section__faq-tabs{
        margin-bottom: 20px;
    }

    .faq-tabs li:not(:last-child){
        margin-right: 16px;
        margin-bottom: 5px;
    }

    .faq-section__faq-content{
        margin-bottom: 80px;
    }

    .page{
        padding-top: 40px;
        /* padding-bottom: 40px; */
    }

    .faq-tabs__tab{
        font-size: 16px;
    }

    .faq-item__caption svg{
        width: 16px;
    }

    /* end faq page */

    /* rules page */

    .rules-block{
        padding-left: 15px;
        padding-right: 15px;
    }

    .rules-section__rules-block{
        margin-bottom: 60px;
    }

    /* rules page */

    /* investor page */

    .tariff-slide{
        flex-direction: column;
    }

    .tariff-slide__tariff-item{
        margin-bottom: 10px;
    }

    .tariff-slide{
        padding-top: 15px;
    }
    
    .tariff-slide__info{
        padding: 15px;
    }

    .tariff-slider__caption{
        margin-bottom: 15px;
    }

    .investor-section{
        padding-bottom: 40px;
    }

    .investor-page__calculator-section{
        margin-bottom: 60px;
    }

    /* end investor page */

    /* about page */

    .progress-section{
        padding: 40px 0;
    }

    .progress-line__items{
        grid-template-columns: 1fr;
        align-items: center;
    }

    .progress-item_order_second{
        width: auto;
    }

    .progress-line__bar{
        width: 10px;
        height: 100%;
        left: 33px;
        right: 0;
        margin: auto;
        top: 0;
    }

    .progress-item{
        height: auto;
        /* flex-direction: row; */
        display: grid;
        grid-template-columns: 1fr 50px 1fr;
    }

    .progress-item__icon{
        width: 40px;
        transform: rotate(90deg) !important;
        margin: 0 !important;
    }

    .progress-item__caption{
        font-size: 14px;
        line-height: 1.2;
        margin: 0 !important;
        text-align: left;
        padding-right: 10px;
        padding-left: 10px;
    }

    .progress-item__caption span{
        font-size: 12px;
    }
    /* about page */

    /* contacts page */

    .page__caption{
        margin-bottom: 40px;
    }

    .contacts-info{
        margin-bottom: 40px;
    }

    .page-form{
        padding: 16px;
    }

    .input-block__label{
        font-size: 16px;
    }

    .contacts-section{
        padding-bottom: 40px;
    }

    /* end contacts page */

    /* feedback page */

    .feedback-item{
        padding: 16px;
    }

    .feedback-item__bottom{
        flex-direction: column;
        align-items: flex-start;
    }

    .pagination__list{
        flex-wrap: wrap;
    }

    .pagination__list a{
        width: 28px;
        height: 28px;
        font-size: 14px;
    }

    .pagination__list{
        margin: 0 12px;
    }

    .pagination__prev svg,
    .pagination__next svg{
        width: 16px;
    }

    .feedback-page__pagination{
        margin-bottom: 40px;
    }

    .form-link{
        font-size: 16px;
    }

    /* feedback page */

    /* user page */

    .user-page{
        flex-direction: column;
    }

    .user-menu__top{
        padding: 0 15px;
        justify-content: space-between;
    }

    .user-menu__profile-block{
        padding-left: 15px;
        padding-right: 15px;
    }

    .user-link{
        padding-left: 15px;
        padding-right: 15px;
    }

    .user-menu{
        min-width: 0;
        padding-top: 20px;
    }

    .user-dates{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .user-dates__date:not(:last-child){
        margin-right: 0;
        margin-bottom: 16px;
    }

    .user-stat{
        padding: 16px;
    }
    
    .user-stat__profit{
        flex-direction: column;
    }

    .user-stat__current-value,
    .user-stat__deposit-value,
    .user-stat__hold-value{
        font-size: 24px;
        line-height: 1.2;
    }

    .user-page__user-form{
        margin-bottom: 40px;
    }

    .referal-item{
        margin-bottom: 24px;
    }

    .user-page__history-block{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .referal-page__input-block{
        margin-bottom: 24px;
    }
    /* end user page */
}

@media (max-width: 767px){
    .referal-program__pic{
        display: none;
    }
}